@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Luxurious Roman', cursive;
}

:root {
    --heading: rgb(0, 10, 45);
    --heading1: rgb(45, 0, 41);
    --para: #777;
    --pera-tint: #e4e4e4;
    --white: #fff;
    --pink: rgb(243, 91, 116);
    --helper: #0C1524;
    --helper-tint: #C3CAD2;
    --bg: #1C2230;
    --gradient: linear-gradient(0deg, rgb(132, 144, 255) 0%, rgb(98, 189, 252) 100%);
    --gradient-support: -webkit-linear-gradient(0deg,
            rgb(132, 144, 255) 0%,
            rgb(98, 189, 252) 100%);
    --gradient-support1: -webkit-linear-gradient(0deg,
            rgb(255, 132, 235) 0%,
            rgb(234, 62, 240) 100%);

    --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
    --box-shadow: 0px 20px 20px 0px rgb(234 62 240 / 30%)
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: var(--bg);
}


h1,
h2,
h3,
h4 {
    font-family: 'Luxurious Roman', cursive;
}

h1 {
    color: var(--heading1);
    font-size: 6rem;
    font-weight: 600;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

p {
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* Header Section start */

.header {
    padding: 4rem 4.8rem;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    height: 3rem;
    font-size: 2rem;
}

.navbar-list {
    display: flex;
    gap: 3.8rem;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--helper-tint);
    text-transform: uppercase;
    transition: color 0.3s linear;
}

.navbar-link:hover,
.navbar-link:after {
    color: var(--white);
}

.mobile-navbar-btn {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.mobile-navbar-icon[name="close-outline"] {
    display: none;
}


/* reuseable code */

.section {
    padding: 6rem 0;


}

.grid {
    display: grid;
    gap: 8rem;
}

.grid-two-columns {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-columns {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-columns {
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    background-color: rgb(3, 184, 184);
    padding: 1.3rem 3rem;
    border: none;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    border-radius: 5rem;
    width: 20%;
    text-align: center;

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* main section */

.container {
    max-width: 60rem;
    margin: 0 auto;

}

.container img {
    width: 100%;
}

.hero-heading {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    padding: 3rem;
}

.hero-pera {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    position: relative;


}

/* second section */

/* .section-1 {
    background-image: url('images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
min-height: 100vh;
position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    z-index: -1;

} */

/* .container-1{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 30rem;
    height: .4rem;
} */

.system-1 img {
    width: 50px;
    height: 50px;

}



.container .system-1 h3 {
    color: #fff;
    text-align: center;
    padding-top: 1rem;
}

.container .system-1 p {
    color: #C3CAD2;
    text-align: center;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

/* third section */

.section-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    max-width: 80%;
    padding-left: 7rem;

}

.img-1 {
    text-align: center;
}


.section-hero-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.hero-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
}

.hero-para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 40rem;
    text-align: center;
    color: #fff;
}

.arrow-btn {
    text-decoration: none;
    padding-bottom: 1rem;
    color: aqua;
    font-size: 1.5rem;
    padding-top: 1rem;

}

.imges {
    padding-top: .9rem;
}

/* review */

/* swiper testimonial start */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #21293C;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-client-message {
    padding: 4rem 6rem;
    background: #21293C;
    border-radius: 1rem;
    text-align: left;
    box-shadow: var(--shadow);
    position: relative;
}

.swiper-client-message::before {
    content: '';
    position: absolute;
    bottom: -7rem;
    left: 40%;
    border: 3rem solid #21293C;
    border-color: transparent;
    border-top-color: #21293C;
    transform: translateX(-80%);
}

.swiper-client-message p::before {
    content: '\f10d';
    position: absolute;
    top: 0;
    left: 5%;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 4rem;
    color: aqua;
}

.swiper-client-message p::after {
    content: '\f10e';
    position: absolute;
    bottom: 0;
    right: 5rem;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 4rem;
    color: aqua;
}

.swiper-client-data {
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;

}

.swiper-slide img {
    max-width: 7rem;
    height: 7rem;
    border-radius: 40%;
    border: .5rem solid var(--helper-tint);
}

/* last section */
.pera-1 {
    width: 120%;
    height: 30rem;
    background-color: #1C2230;
    box-shadow: var(--shadow);
    padding: 3rem;
   
}

.input-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 65%;
    border-radius: 4rem;
    height: 5rem;
}

.hireme-btn {
    color: #fff;
    background-color: rgb(3, 180, 180);
    width: 30%;
    height: 4rem;
    border-radius: 5rem;
    text-align: center;
    padding: 1.2rem;
    font-size: 1.5rem;
    font-weight: bold;
}


/* footer section */
/* section footer */

.section-footer {
    background: #0C1524;
    transition: all 0.6s linear;
   
    
}

.section-footer h3 {
    color: #e4e4e4;
    margin-bottom: 3rem;

}

.f-about p {
    color: #e4e4e4;
}

.f-links ul,
.f-services ul,
.f-address address {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    justify-content: center;

}

.f-links li,
.f-links a,
.f-services li,
.f-services a {
    font-size: 1.4rem;
    color: #e4e4e4;
    text-transform: capitalize;
}

.f-links span,
.f-services span,
.f-address span {
    margin-right: 1rem;
}

.f-services p,
.f-address p a {
    font-style: normal;
    color: rgb(192, 189, 189);
}

.f-social-icons {
    text-align: center;
    margin: 4rem 0;
    color: rgb(184, 178, 178);
}

.f-social-icons .icons {
    width: 3rem;
    height: 3rem;
    background-color: rgb(170, 164, 164);
    display: inline-block;
    padding: 1.4rem 1.8rem;
    position: relative;
    color: var(--heading1);
    animation: water-wave 3s linear infinite;
    cursor: pointer;
}

.f-credits p {
    text-align: center;
    color: rgb(184, 178, 178);
}

.footer a:hover,
footer a:active {
    color: var(--white);
}